body {
    font-family: sans-serif;
  }
  header{
    position: fixed;
    width: 100%;
    margin: 0;
    padding: 0;
    top: 0;
   
  }

  li a{
    text-decoration: none;
  }
  
  ul{
    text-align: center;
  }
 
  li{
    display: inline-block;
    width: 18%;
    min-width: 90px;
    background-color: rgb(110, 110, 245);
  }

  img{
    width: 100px;
    height: 75px;
  }
 
  