body {
  font-family: sans-serif;
}

header{
  z-index:1;
  position: fixed;
  width: 100%;
  margin: 0;
  padding: 0;
  top: 0;
  background-color:white;
}

li a{
  text-decoration: none;
  font-size:26px;
  color:black;
}

ul{
  text-align: center;
}

li{
  display: inline-block;
  min-width: 90px;
  padding-left:40px;
  padding-right:40px;
  margin-top:10px;
  margin-left:20px;
  margin-right:20px;
}

#mainvisual{
  height: 600px;
  margin-top:0px;
  margin-bottom:20px;
}

.name{
  position: relative;
  text-align: center;
  padding-top: 0px;
  margin: 0 auto 0 auto;
  top:70px;
  z-index: 3;
}

#mainvisual p{
  padding:2px;
  opacity: 0.3;
}

.ia{
  font-family: 'Amiri', serif;
  font-family: 'Frank Ruhl Libre', serif;
  font-size:60px;
  font-weight:0.5px;
  color: rgb(0, 0, 0);
}

#defaultCanvas0{
  position:absolute;
  top:0px;
  z-index: 2;
}

img{
  display:block;
  width: 360px;
  height: 240px;
  margin-right:0;
  margin-left:0;
}

.aStudio{
  width: 360px;
  height: 290px;
  display: inline-block;
  padding: 20px;
  padding-top:0;
  margin-top:8px;
} 


h1{
  box-sizing:border-box;
  width: 360px;
  height:20px;
  padding-top:4px;
  font-size: 15px;
  text-Align:center;
}

footer{
text-Align:center;
margin:60px 0 20px;
font-size:10px;
}

#studios{
position: relative;
z-index: 0;
width:1200px;
margin-right:auto;
margin-left:auto;
}

.mask{
position:absolute;
background-color:rgb(163, 163, 163);
opacity:0;
width: 360px;
height: 240px;
font-size:35px;
}

.mask:hover {
opacity: 0.7;
}

.studio-title-en{
font-size:38px;
text-Align:left;
padding-top:10px;
margin-top:0;
margin-left:10px;
top:0px;
}

.faculty{
position:absolute;
font-size:20px;
text-Align:right;
right:15px;
top:190px;
}
