body {
    font-family: sans-serif;
  }
  header{
    box-sizing: border-box;
    width:100%;
    padding:30px 4% 10px;
    background-color: rgb(70, 149, 168);
    position: fixed;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;

  }
  li a{
    text-decoration: none;

  }
 
  